Connected Services/WsWinery/Wswinery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.progamma.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.progamma.com/encodedTypes" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.progamma.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.progamma.com/encodedTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <s:complexType name="ArrayOfAnyType">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="s:anyType[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ID_DOExecuteSoapIn">
    <wsdl:part name="DOXML" type="s:string" />
    <wsdl:part name="MethodName" type="s:string" />
    <wsdl:part name="ClassName" type="s:string" />
    <wsdl:part name="Params" type="s0:ArrayOfAnyType" />
    <wsdl:part name="RetDoc" type="s:boolean" />
  </wsdl:message>
  <wsdl:message name="ID_DOExecuteSoapOut">
    <wsdl:part name="ID_DOExecuteResult" type="s:anyType" />
  </wsdl:message>
  <wsdl:message name="ID_ReceiveFileSoapIn">
    <wsdl:part name="FileData" type="s:base64Binary" />
    <wsdl:part name="Extension" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ID_ReceiveFileSoapOut">
    <wsdl:part name="ID_ReceiveFileResult" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ID_SendFileSoapIn">
    <wsdl:part name="FileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ID_SendFileSoapOut">
    <wsdl:part name="ID_SendFileResult" type="s:base64Binary" />
  </wsdl:message>
  <wsdl:message name="ProcessafileStrumentoSoapIn">
    <wsdl:part name="ppNomeFile" type="s:string" />
    <wsdl:part name="ppUsername" type="s:string" />
    <wsdl:part name="ppPassword" type="s:string" />
    <wsdl:part name="ppPartitaIva" type="s:string" />
    <wsdl:part name="ppNomeFileDaStrumento" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProcessafileStrumentoSoapOut">
    <wsdl:part name="ProcessafileStrumentoResult" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="ppUsername" type="s:string" />
    <wsdl:part name="ppPassword" type="s:string" />
    <wsdl:part name="ppPartitaIva" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="LoginResult" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProcessafileconferimentiSoapIn">
    <wsdl:part name="ppNomeFile" type="s:string" />
    <wsdl:part name="ppUsername" type="s:string" />
    <wsdl:part name="ppPassword" type="s:string" />
    <wsdl:part name="ppPartitaIva" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProcessafileconferimentiSoapOut">
    <wsdl:part name="ProcessafileconferimentiResult" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AcquisiscifileAnalisiSoapIn">
    <wsdl:part name="ppNomefile" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AcquisiscifileAnalisiSoapOut">
    <wsdl:part name="AcquisiscifileAnalisiResult" type="s:int" />
  </wsdl:message>
  <wsdl:portType name="WswineryclassSoap">
    <wsdl:operation name="ID_DOExecute">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Executes the given method on a IDDocument object</wsdl:documentation>
      <wsdl:input message="tns:ID_DOExecuteSoapIn" />
      <wsdl:output message="tns:ID_DOExecuteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ID_ReceiveFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Receive a file from a client application</wsdl:documentation>
      <wsdl:input message="tns:ID_ReceiveFileSoapIn" />
      <wsdl:output message="tns:ID_ReceiveFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ID_SendFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sends a file to a client application</wsdl:documentation>
      <wsdl:input message="tns:ID_SendFileSoapIn" />
      <wsdl:output message="tns:ID_SendFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessafileStrumento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Spiega quale elaborazione viene eseguita da questa procedura</wsdl:documentation>
      <wsdl:input message="tns:ProcessafileStrumentoSoapIn" />
      <wsdl:output message="tns:ProcessafileStrumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Spiega quale elaborazione viene eseguita da questa procedura</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Processafileconferimenti">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Spiega quale elaborazione viene eseguita da questa procedura</wsdl:documentation>
      <wsdl:input message="tns:ProcessafileconferimentiSoapIn" />
      <wsdl:output message="tns:ProcessafileconferimentiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AcquisiscifileAnalisi">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Spiega quale elaborazione viene eseguita da questa procedura</wsdl:documentation>
      <wsdl:input message="tns:AcquisiscifileAnalisiSoapIn" />
      <wsdl:output message="tns:AcquisiscifileAnalisiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WswineryclassSoap" type="tns:WswineryclassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ID_DOExecute">
      <soap:operation soapAction="http://www.progamma.com/ID_DOExecute" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ID_ReceiveFile">
      <soap:operation soapAction="http://www.progamma.com/ID_ReceiveFile" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ID_SendFile">
      <soap:operation soapAction="http://www.progamma.com/ID_SendFile" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessafileStrumento">
      <soap:operation soapAction="http://www.progamma.com/ProcessafileStrumento" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.progamma.com/Login" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Processafileconferimenti">
      <soap:operation soapAction="http://www.progamma.com/Processafileconferimenti" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcquisiscifileAnalisi">
      <soap:operation soapAction="http://www.progamma.com/AcquisiscifileAnalisi" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WswineryclassSoap12" type="tns:WswineryclassSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ID_DOExecute">
      <soap12:operation soapAction="http://www.progamma.com/ID_DOExecute" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ID_ReceiveFile">
      <soap12:operation soapAction="http://www.progamma.com/ID_ReceiveFile" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ID_SendFile">
      <soap12:operation soapAction="http://www.progamma.com/ID_SendFile" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessafileStrumento">
      <soap12:operation soapAction="http://www.progamma.com/ProcessafileStrumento" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://www.progamma.com/Login" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Processafileconferimenti">
      <soap12:operation soapAction="http://www.progamma.com/Processafileconferimenti" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcquisiscifileAnalisi">
      <soap12:operation soapAction="http://www.progamma.com/AcquisiscifileAnalisi" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="http://www.progamma.com" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Wswineryclass">
    <wsdl:port name="WswineryclassSoap" binding="tns:WswineryclassSoap">
      <soap:address location="http://127.0.0.1:3998/Wswinery/Wswinery.asmx" />
    </wsdl:port>
    <wsdl:port name="WswineryclassSoap12" binding="tns:WswineryclassSoap12">
      <soap12:address location="http://127.0.0.1:3998/Wswinery/Wswinery.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>